body {
    background-image: url("images/background.jpg");
    background-color: #ffffff;
    background-size: auto;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Staatliches', cursive;
    text-align: center;
    text-emphasis-color: white;
    /* -webkit-text-stroke: .01px white; */
    letter-spacing: 2px;
}

table, td, thead {
    position: relative;
    margin: auto;
    border: 1px solid rgb(239, 238, 238);
    max-width: 500px;
}

td {
    padding: 8px;
}

#table-header {
    text-align: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}

code {
    background-color: #ffffff;
    padding: 2px;
}